.main {
    text-align: center;
    font-size: 60pt;
}
* {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    
}
button {
    cursor: pointer;
}
.more {
    text-align: center;
    width: 200px;
    height: 80px;
    font-size: 45px;
    box-sizing: border-box;
    margin-left: 0;
    right: 210px;
    bottom: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: black;
    color: antiquewhite;
    border: none;
    position: absolute;
}
body {
    background: linear-gradient(90deg, grey, rgb(101, 97, 97));
}
#LogIn {
    position: absolute;
    right: 120px;
    top: 10px;
    width: 100px; height: 50px;
    font-size: 22px;
    background-color: rgba(101, 97, 97, 0.5);
    border: none;
    border-radius: 10px;
    
}
#SignUp {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 100px; height: 50px;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: antiquewhite;
}
#eventsImage {
    border-radius: 20px;
    width: 1300px;
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.8);
}
#OnclikDescription {
    margin-left: 220px;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 10px;
}

/* #events {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
} */
#events {
    position: relative;
}
