.events {
    text-align: center;
    font-size: 40pt;
}
body {
    background: linear-gradient(90deg, grey, rgb(101, 97, 97));
}
* {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}
.back {
    box-sizing: content-box;
    width: 70px; height: 35px;
    text-align: center;
    justify-content: center;
    align-items: center; 
    display: flex;
    background-color: rgb(235, 58, 52);
    border-radius: 20px;
    font-size: 17pt;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
}
.ButtonEvents {
    text-align: center;
    width: 250px;
    height: 100px;
    font-size: 50px;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #000;
    color: antiquewhite;
    border: none;
    margin-bottom: 10px;
}
button {
    cursor: pointer;
}

