.events {
    text-align: center;
    font-size: 40pt;
}
body {
    background: linear-gradient(90deg, grey, rgb(101, 97, 97));
}
* {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}
.back {
    box-sizing: content-box;
    width: 35px; height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center; 
    display: flex;
    background-color: rgb(251, 90, 90);
    border-radius: 10pt;
    font-size: 10pt;
    
}
.ButtonEvents {
    text-align: center;
    width: 140px;
    height: 60px;
    font-size: 30px;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

}
